.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-form {
  background: #fff;
  padding: 120px 30px; /* Increased padding for more space */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.login-button {
  width: 93%;
  padding: 10px;
  background: linear-gradient(90deg,#11998E,#38EF7D);
  border: none;
  border-radius: 4px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-button:hover {
    background: linear-gradient(90deg, #D4145A, #FBB03B);
}

.signup-link {
  margin-top: 10px;
}

.signup-link a {
  color: #11998E;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
